<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.app.hopity">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.hardware.location.gps" />

    <permission
        android:name="${applicationId}.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="${applicationId}.permission.MAPS_RECEIVE" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    <!-- GCM Permissions - Start here -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <!-- gcm permissions -->
    <uses-permission android:name="${applicationId}.permission.C2D_MESSAGE" />

    <permission
        android:name="${applicationId}.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <!-- GCM Permissions - End here -->
    <application
        android:name=".appdata.HapityApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBIMqqJ2Z5gKyoMB3NriUYDLtx6HIdbox4" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"
            tools:replace="android:value" />

        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoTitleBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".appIntro.HapityIntro"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoTitleBar.FullScreen"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".DashboardActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|mcc|mnc"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoTitleBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".signupwizard.SignupActivity"
            android:label="@string/title_activity_signup"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoTitleBar.FullScreen"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".playingActivities.OnlineStreamBroadcastActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboardHidden"
            android:label="@string/title_activity_stream_broadcast"
            android:theme="@style/AppTheme.NoTitleBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".playingActivities.OfflineStreamBroadcastActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboardHidden"
            android:label="@string/title_activity_stream_broadcast"
            android:theme="@style/AppTheme.NoTitleBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".afterStreamActivities.OfflineAfterStreamActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoTitleBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".afterStreamActivities.OnlineAfterStreamActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoTitleBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".UserSettingsActivity"
            android:label="@string/user_setting"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".AppSettingsActivity"
            android:label="@string/app_setting"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".AboutUsActivity"
            android:label="@string/title_activity_about_us"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoTitleBar" />
        <activity
            android:name=".TermsConditionsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoTitleBar" />
        <activity
            android:name=".streamActivities.StreamBroadcastActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboardHidden"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoTitleBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".afterStreamActivities.ExitStreamBaseActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoTitleBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ViewProfileActivity"
            android:configChanges="keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ViewListActivity"
            android:configChanges="keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".SearchPeopleActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".SearchBroadcastActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateVisible" />

        <!-- intro slides activity -->
        <activity android:name="com.soundcloud.android.crop.CropImageActivity" />

        <!-- Register Broadcast receiver -->
        <!-- <receiver -->
        <!-- android:name=".broadcastReceivers.GcmBroadcastReceiver" -->
        <!-- android:permission="com.google.android.c2dm.permission.SEND"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.google.android.c2dm.intent.RECEIVE" /> -->
        <!-- <action android:name="com.google.android.c2dm.intent.REGISTRATION" /> -->


        <!-- <category android:name="${applicationId}" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->
        <!-- &lt;!&ndash; Register Service &ndash;&gt; -->
        <!-- <service android:name=".broadcastReceivers.GCMNotificationIntentService" /> -->


        <!-- facebook sdk used permisions and sdk files -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="Hapity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider536816569790573"
            android:exported="true" />

        <!-- twitter fabric io files -->
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="e616abacb94c639b041899b24b74388248656bce" />

        <!-- error report and crash report send -->
        <service
            android:name="de.quist.app.errorreporter.ExceptionReportService"
            android:process=":exceptionReporter" />

        <meta-data
            android:name="de.quist.app.errorreporter.targetUrl"
            android:value="http://api.hapity.com/webservice/get_crash_report" />

        <activity
            android:name="de.quist.app.errorreporter.ExceptionReportActivity"
            android:process=":exceptionReporter"
            android:theme="@android:style/Theme.NoDisplay" />

        <meta-data
            android:name="de.quist.app.errorreporter.dialogMessageHint"
            android:resource="@string/error_reporting_message_hint" />

    </application>

</manifest>